{{date}}
{{name}} Profile .


The government issued token will be used as a unit of account, store of value, and a medium of exchange just as we do fiat currency. 
Then a token bonding curve will be designed to manage token supply and curb high volatility so that people can use the token in everyday life like fiat currency.
 The idea is like creating a central bank that does strict planning and economic allocation but this time with more decentralization and government regulation. 
